node_ops = [
    "Exchange10",
    "Exchange20",
    "Exchange11",
    "Exchange21",
    "Exchange22",
    "SwapTails",
]


route_ops = [
    "SwapStar",
]


[genetic]
repair_probability = 0.80
nb_iter_no_improvement = 20_000


[population]
min_pop_size = 25
generation_size = 40
nb_elite = 4
nb_close = 5
lb_diversity = 0.1
ub_diversity = 0.5


[neighbourhood]
weight_wait_time = 0.2
weight_time_warp = 1.0
nb_granular = 40
symmetric_proximity = true
symmetric_neighbours = false


[penalty]
repair_booster = 12
solutions_between_updates = 50
penalty_increase = 1.34
penalty_decrease = 0.32
target_feasible = 0.43
