name: CD

on:
  release:
    types: [ created ]
  push:
    branches: [ main ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, windows-2022, macos-14 ]
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install toolchain
        id: msys2
        if: ${{ runner.os == 'Windows' }}
        uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
      - if: ${{ runner.os == 'Windows' }}
        env:
          MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}
        run: echo "$env:MSYS2_LOCATION\bin;" >> $env:GITHUB_PATH
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.0
        with:
          package-dir: .
          output-dir: dist
      - uses: actions/upload-artifact@v4  # upload all wheels
        with:
          name: dist-${{ matrix.os }}
          path: ./dist/*

  deploy:
    name: Deploy to PyPI
    needs: [ build ]
    runs-on: ubuntu-22.04
    if: github.event_name == 'release' && github.event.action == 'created'
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.7.5"
          enable-cache: true
          python-version: "3.13"
      - uses: actions/download-artifact@v4  # download previously built wheels
        with:
          pattern: dist-*
          merge-multiple: true
          path: dist/
      - name: Build sdist
        run: uv build --sdist
      - name: List packaged distributions
        run: ls -la dist/
      - name: Deploy to PyPI
        run: |
          uv publish
