name: CD

on:
  release:
    types: [ created ]
  # push:
  #   branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, windows-2019, macos-14 ]
    steps:
      - uses: actions/checkout@v4
      - name: Install rtools
        if: ${{ runner.os == 'Windows' }}
        run: |
          # mingw-w64. This is what scipy uses to update the build toolchain
          # on Windows systems; also works fine for us.
          choco install rtools -y --no-progress --force --version=4.3.5958
          dir "c:\rtools43\ucrt64\bin;"
          dir "c:\rtools43\ucrt64;"
          echo "c:\rtools43\ucrt64\bin;" >> $env:GITHUB_PATH
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.5
        with:
          package-dir: .
          output-dir: dist
      - uses: actions/upload-artifact@v4  # upload all wheels
        with:
          name: dist-${{ matrix.os }}
          path: ./dist/*

  deploy:
    name: Deploy to PyPI
    needs: [ build ]
    runs-on: ubuntu-22.04
    if: github.event_name == 'release' && github.event.action == 'created'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Update pip and poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - uses: actions/download-artifact@v4  # download previously built wheels
        with:
          pattern: dist-*
          merge-multiple: true
          path: dist/
      - name: Build sdist
        run: poetry build --format sdist
      - name: List packaged distributions
        run: ls -la dist/
      - name: Deploy to PyPI
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          poetry publish
