name: CodSpeed

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  bench:
    name: Run benchmarks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Update pip and poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Cache Python dependencies
        uses: actions/cache@v4
        id: cache-python
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-python-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml') }}
      - name: Install Python dependencies
        if: steps.cache-python.outputs.cache-hit != 'true'
        run: poetry install --no-root --with examples
      - name: Set up GCC
        run: |
          sudo apt-get install -y gcc-14 g++-14

          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 10
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 10
          sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-14 10

          echo "CC=gcc" >> $GITHUB_ENV
          echo "CXX=g++" >> $GITHUB_ENV
      - name: Build pyvrp
        # First, we install the project into the poetry environment. This
        # ensures imports like "from pyvrp import X" work. This builds in
        # release mode by default, but we'd like to have debug symbols for
        # CodSpeed to make sense, so we have to build in debugoptimized mode.
        run: |
          poetry install --only-root
          poetry run python build_extensions.py --build_type debugoptimized
      - name: Run benchmarks
        # We evaluate the microbenchmarks using the release build.
        uses: CodSpeedHQ/action@v3
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: poetry run pytest benchmarks/ --codspeed
