name: DOC

on:
  push:
    branches: [ main ]

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    name: "Build documentation"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up pages
        uses: actions/configure-pages@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.7.5"
          enable-cache: true
          python-version: "3.13"
      - name: Install pandoc
        run: sudo apt install pandoc
      - name: Set up GCC
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-11 g++-11
          echo "CC=gcc-11" >> $GITHUB_ENV
          echo "CXX=g++-11" >> $GITHUB_ENV
      - name: Build PyVRP
        run: uv sync --group docs --group examples
      - name: Build documentation
        run: uv run make html --directory=docs
      - name: Upload documentation
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/build/html'

  deploy:
    name: "Deploy documentation"
    needs: [ build ]
    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy documentation
        id: deployment
        uses: actions/deploy-pages@v4
